body {
  margin: 0rem;
  padding: 0rem;
  background-color: var(--main-bg-color);
}

:root {
  /* --main-bg-color: rgb(19, 75, 112); */
  --main-bg-color: rgb(11, 25, 44);
  --dorado: rgb(255, 175, 0);
}

.header {
  width: 100%;
  background-color: var(--main-bg-color);
  color: white;
  padding: 2rem;
  font: raleway-roboto-thin-italic;
}

.title-header {
  width: 90%;
  display: flex;
  justify-content: end;
}

/* .position-end-rela {
  position: relative;
  top: 5rem;
  left: 40%;
  width: 8rem;
}

.position-end-rela-help {
  position: relative;
  top: 0.5rem;
  left: 40%;
  width: 8rem;
} */


.position-end-rela-seleccionar {
  position: relative;
  top: 2rem;
  left: 70%;
}

.container-numeros {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: var(--main-bg-color);
}

.container-mensaje {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg-color);
  visibility: collapse;

}

.target-mensaje {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 80%;
  height: max-content;
  background-color: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.numeros-registra {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}

.numero-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  margin: 0.2rem;
  width: 5rem;
  height: 3rem;
  background-color: var(--dorado);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.numero-div:hover {
  /* background-color: rgb(61, 12, 17); */
  background-color: rgb(192, 127, 0);
  cursor: pointer;
  color: white;
}


.raleway-roboto-thin-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
}

/* Estilos para el botón */
.boton-bonito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--dorado);
  color: rgb(130, 0, 0, 1);
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  margin-left: 2rem;
}

.boton-bonito span {
  margin-right: 1rem;
}

.texto_normal {
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton-bonito:hover {
  background-color: rgb(192, 127, 0);
  color: white;
}

.boton-bonito:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}

.boton-bonito:active {
  background-color: #3e8e41;
}

/* Estilos para un botón grande */
.boton-bonito-grande {
  font-size: 20px;
  padding: 15px 30px;
}

/* Estilos para un botón pequeño */
.boton-bonito-pequeno {
  font-size: 14px;
  padding: 8px 16px;
}

/* .boton-generar{
    background-color: rgba(149, 35, 35,0.9);
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .boton-generar:hover{
    background-color: rgba(149, 35, 35,1);
  } */


/* Estilo base del div */
.animacion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: rgb(249, 226, 175);
  animation: cambioDeColor 4s infinite;
}

/* Definición de la animación con @keyframes */
@keyframes cambioDeColor {
  0% {
    background-color: rgb(168, 223, 142);
  }

  50% {
    background-color: rgb(232, 106, 51);
  }

  100% {
    background-color: rgb(255, 177, 0);
  }
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.typewriter {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 33s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}


